{% extends 'base.html.twig' %}

{% block title %}Série {{ program.title }} - Saison {{ season.number }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Saison {{ season.number }}</h1>
        {#{% for episode in season.episodes %}
            <div class="media">
                <img class="align-self-start mr-3" src="" alt="">
                <div class="media-body">
                    <h2 class="mt-0">{{ episode.number }}:  {{ episode.title }}</h2>
                    <p><b>Synopsis</b> :<br>{{ program.synopsis }}</p>
                    <hr>
                    <p>Liste des épisodes :</p>
                    <ul>
                        {% for episode in season.episodes %}
                            <li>liste</li
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}#}
        <hr>
        <a href="{{ path('program_index') }}" class="btn btn-secondary">Retour à la liste des séries</a>
    </div>
{% endblock %}